.counterSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#111;
  height: 100vh;
  gap: 2rem;
}
.totalValue{
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0 0.5rem;
  background-color: #333;
  border-radius: 6px;


}

.totalValue .value {
  color: gold;
  cursor: pointer;
}
